<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question and Answer</title>
</head>
<body>
  <h1>Faça sua perguna!</h1>

  <p>nome: <%= nome %> </p>
  <p>lang: <%= lang %> </p>
  <p>empresa: <%= empresa %> </p>

  <% if(msg) { %>
    <span style="color : red">Ocorreu um erro!!</span>
  <% } %>


</body> 
</html>